@page
@using Crowdfund.Models;
@model Crowdfund.Pages.Projects.CreateModel
@{
    ViewData["Title"] = "Create Project";
}

<div class="row">
	<div class="col-lg-8">
		<div class="featured-games header-text">
			<div class="heading-section">
				<h4>CREATE A NEW <em>PROJECT</em></h4>
			</div>
			<div class="col-md-4">
				<form method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>

					<div class="form-group">
						<p class="text-white">

							<label asp-for="Project.Title" class="control-label"></label>
							<input asp-for="Project.Title" class="form-control" />
							<span asp-validation-for="Project.Title" class="text-danger"></span>
						</p>
					</div>

					<div class="form-group">
						<p class="text-white">
							<label asp-for="Project.Description" class="control-label"></label>
							<input asp-for="Project.Description" class="form-control" />
							<span asp-validation-for="Project.Description" class="text-danger"></span>
						</p>
					</div>
					<p>&ensp;</p>
					<div class="form-group">
						<p class="text-white">
							<label asp-for="Project.ProjectCategory" class="control-label">Category</label>
							<select asp-for="Project.ProjectCategory" asp-items="Html.GetEnumSelectList<Category>()"></select>
							<span asp-validation-for="Project.ProjectCategory" class="text-danger"></span>
						</p>
					</div>
					<p>&ensp;</p>
                    <div class="row">

						@*****img input****@
						<div class="form-group">
							<p class="text-white">
								<label for="formFile" class="form-label"></label>
								<label asp-for="Project.ImgUrl" class="control-label">Image URL</label>
								<input asp-for="Project.ImgUrl" class="form-control" />
								<span asp-validation-for="Project.ImgUrl" class="text-danger"></span>
							</p>
						</div>

						@*****img input****@

						@*****video input****@
						<div class="form-group">
							<p class="text-white">
								<label for="formFile" class="form-label"></label>
								<label asp-for="Project.VideoUrl" class="control-label">Video URL</label>
								<input asp-for="Project.VideoUrl" class="form-control" />
								<span asp-validation-for="Project.VideoUrl" class="text-danger"></span>
								@*****video input****@
							</p>
						</div>


						@*****goal money input****@
						<div class="form-group">
							<p class="text-white">
								<label for="formFile" class="form-label"></label>
								<label asp-for="Project.Goal" class="control-label"></label>
								<input asp-for="Project.Goal" class="form-control" />
								<span asp-validation-for="Project.Goal" class="text-danger"></span>
							</p>
						</div>

						@**************end goal input****************@

						<p>&nbsp;</p>

						<div class="form-group">
							<p class="text-white">
								<input class="btn btn-outline-light" type="submit" value="Create" />
							</p>
						</div>

						<p>&nbsp;</p>

					</div>
				</form>
				<div class="main-border-button"><a href="~/Profile">Go Back</a></div>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="top-downloaded">
			<div class="heading-section">
				<h4>Add Rewards</h4>
			</div>
			<ul>
				<li style="margin-bottom:5px">
					<h4>Tier 1 (50 &euro;)</h4>
					<div class="form-group">
						<p class="text-white">

							<label asp-for="Reward1.Description" class="control-label">Description</label>
							<input asp-for="Reward1.Description" class="form-control" />
							<span asp-validation-for="Reward1.Description" class="text-danger"></span>
						</p>
					</div>
				</li>
				<li style="margin-bottom:5px">
					<h4>Tier 2 (150 &euro;)</h4>
					<div class="form-group">
						<p class="text-white">

							<label asp-for="Reward1.Description" class="control-label">Description</label>
							<input asp-for="Reward1.Description" class="form-control" />
							<span asp-validation-for="Reward1.Description" class="text-danger"></span>
						</p>
					</div>
				</li>
				<li style="margin-bottom:5px">
					<h4>Tier 3 (500 &euro;)</h4>
					<div class="form-group">
						<p class="text-white">

							<label asp-for="Reward1.Description" class="control-label">Description</label>
							<input asp-for="Reward1.Description" class="form-control" />
							<span asp-validation-for="Reward1.Description" class="text-danger"></span>
						</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
   



   


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
}