@page
@using Crowdfund.Models;
@model Crowdfund.Pages.Projects.DetailsModel
@{
}


    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">

                    <!-- ***** Featured Start ***** -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="feature-banner header-text">
                                <div class="row">
@*                                    <div class="col-lg-4">
                                    <img src="#" alt="" style="border-radius: 23px;">
                                    </div>*@
                                <center><div class="col-lg-8">
                                        <div class="thumb">
                                        <img src="~/Content/assets/images/athtech.png" alt="" style="border-radius: 23px;">
                                    </div></center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Featured End ***** -->

                    <!-- ***** Details Start ***** -->
                    <div class="game-details">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2>Project{Id}.Title</h2>
                            </div>
                            <div class="col-lg-12">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="left-info">
                                                <div class="left">
                                            <h4>Project{Id}.Title</h4>
                                            <span>Project{Id}.Category</span>
                                                </div>

                                                <ul>
                                                    <li><i class="fa fa-euro"></i> Project{Id}.Contributions</li>
                                                    <li><i class="fa fa-euro"></i> Project{Id}.Goal</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="right-info">
                                                <ul>
                                            <li><i class="fa fa-person"></i> Project{Id}.Creator</li>
                                            <li><i class="fa fa-calendar"></i> Project{Id}.Date</li>
                                            <li><i class="fa fa-server"></i> Project{Id}.Backers</li>
                                                    <li><i class="fa fa-gamepad"></i> Action</li>
                                                </ul>
                                            </div>
                                        </div>
@*                                        <div class="col-lg-4">
                                            <img src="~/Content/assets/images/Tsontarw-Logo.png" alt="" style="border-radius: 23px; margin-bottom: 30px;">
                                        </div>
                                        <div class="col-lg-4">
                                            <img src="~/Content/assets/images/regen.jpg" alt="" style="border-radius: 23px; margin-bottom: 30px;">
                                        </div>
                                        <div class="col-lg-4">
                                            <img src="assets/images/details-03.jpg" alt="" style="border-radius: 23px; margin-bottom: 30px;">
                                        </div>*@
                                        <div class="col-lg-12">
                                            <p>Project{id}.Description</p>
                                        </div>

                                                                                        <div class="col-lg-20">
                                    <div class="main-border-button">
                                                <a href="#">See rewards!</a>
                                            </div>
                                                                                        <div class="right-info">
                                                <ul>
                                            <li><i class="fa fa-person"></i> Project{Id}.Rewards</li>

                                                                                    <div class="col-lg-20">
                                            <div class="main-border-button">
                                                <a href="#">Contribute Now!</a>


                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


