@page
@model Crowdfund.Pages.Backers.CreateModel

@{
    ViewData["Title"] = "Add Backer";
}

<div class="row">
	<div class="col-lg-8">
		<div class="featured-games header-text">
			<div class="heading-section">
				<h4>Add <em>Backer</em></h4>
			</div>
			<div class="col-md-4">
				<form method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<p class="text-white">
							<label asp-for="Backer.FirstName" class="control-label">First Name</label>
							<input asp-for="Backer.FirstName" class="form-control" />
							<span asp-validation-for="Backer.FirstName" class="text-danger"></span>
						</p>
					</div>
					<div class="form-group">
						<p class="text-white">
							<label asp-for="Backer.LastName" class="control-label">Last Name</label>
							<input asp-for="Backer.LastName" class="form-control" />
							<span asp-validation-for="Backer.LastName" class="text-danger"></span>
						</p>
					</div>
					<div class="form-group">
						<p class="text-white">
							<label asp-for="Backer.Email" class="control-label">Email</label>
							<input asp-for="Backer.Email" class="form-control" />
							<span asp-validation-for="Backer.Email" class="text-danger"></span>
						</p>
					</div>

					<div class="form-group">
						<p class="text-white">
							<label asp-for="Backer.ImgUrl" class="control=label">Image URL</label>
							<input asp-for="Backer.ImgUrl" class="form-control" />
							<span asp-validation-for="Backer.ImgUrl" class="text-danger"></span>
						</p>
					</div>

					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

					<div class="form-group">
						<p class="text-white">
							<input class="btn btn-outline-light" type="submit" value="Create" />
						</p>
					</div>

					<p>&nbsp;</p>
					
					<div class="form-group">
						<p class="text-white">
							<div class="btn btn-outline-light"><a asp-page="Index">Return</a></div>
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}