@page "{id}"
@using Crowdfund.Models;
@model Crowdfund.Pages.Backers.IndexModel
@{
	ViewData["Title"] = "Backers";
}

@if (TempData["AlertMessage"] != null)
{
	<div class="alert alert-success">
		<strong>Success !</strong> @TempData["AlertMessage"]
		<button type="button" class="close" data-dismiss="alert">
			<span>&times;</span>
		</button>
	</div>
}

<div class="main-banner">
	<div class="row">
		<div class="col-lg-7">
			<div class="header-text">
				<h4>Backers</h4>

				<div class="main-button" style="margin-bottom:15px">
					<a class="nav-link" asp-area="" asp-page="/Backers/Create">Add Backer</a>
				</div>

				<table class="table">
					<thead style="color: #ec6090">
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Email Address</th>
						</tr>
					</thead>
					<tbody>
						@foreach (Backer backer in Model.Backers)
						{
							<tr style="color: white">
								<td>@backer.FirstName</td>
								<td>@backer.LastName</td>
								<td>@backer.Email</td>
								<td><a href="~/Backers/Delete/@backer.Id">Backer Delete</a></td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script src="~/js/popupalert.js"></script>