@page
@model Crowdfund.Pages.CreatorsHomeModel
@{
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">

                <!-- ***** Banner Start ***** -->
                <div class="main-banner">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="header-text">
                                <h6></h6>
                                <h4>Create <em>new</em> project</h4>

                                <h5>Continue as</h5>
                                <form method="post">
                                    <select name="creators" id="creators">
                                        <option value=1>Creator 1</option>
                                        <option value=2>Creator 2</option>
                                        <option value=3>Creator 3</option>
                                        <option value=4>Creator 4</option>
                                    </select>
                                 
                                    <h5>by pressing</h5>    <input type="submit" value="here" class="main-button" />
                                                                            <div class="main-button">
 
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***** Banner End ***** -->
            </div>
        </div>
    </div>
</div>