@page
@model Crowdfund.Pages.CreatorsHomeModel
@{
}
<div class="main-banner">
    <div class="row">
        <div class="col-lg-7">
            <div class="header-text">
                <h6></h6>
                <h4><em>Creators</em>Index</h4>
                <div class="main-button">
                    <a class="nav-link" asp-area="" asp-page="/Creators/Index">Index Of Creators</a>
                </div>
                <div class="main-button">
                    <a class="nav-link" asp-area="" asp-page="/Creators/Create">Create new</a>
                </div>
                <label for="cars">Choose a creator:</label>
                <form method="post">
                     <select name="creators" id="creators">
                         <option value=1>Creator1</option>
                         <option value=2>Creator2</option>
                         <option value=3>Creator3</option>
                         <option value=4>Creator4</option>
                     </select>
                <div class="main-button">
                    <a class="nav-link" asp-area="" asp-page="/Index">Next</a>
                   <input type="submit"  value="Create" class="btn btn-warning" />
                       
                </div>
                </form>
            </div>
        </div>
    </div>
</div>