@page "/"
@using Crowdfund.Models;
@model Crowdfund.Pages.InitialModel
@{
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">

                <!-- ***** Banner Start ***** -->
                <div class="main-banner">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="header-text">
                                <h6></h6>
                                <h4>Create <em>new</em> project</h4>

                                <h5>Creators</h5>
                                <form method="post">
                                    <select class="btn btn-outline-light" name="creators" id="creators">
										@foreach (Creator creator in Model.Creators)
										{
											<option value=@creator.Id>@creator.FirstName @creator.LastName</option>
										}
                                    </select>
                                 
                                    <h5>by pressing</h5>    <input type="submit" value="Continue" class="btn btn-outline-light" />
                                                                            <div class="main-button">
 
                                    </div>
                                </form>
								<h5>Backers</h5>
								<form method="post">
									<select class="btn btn-outline-light" name="creators" id="creators">
										@foreach (Backer backer in Model.Backers)
										{
											<option value=@backer.Id>@backer.FirstName @backer.LastName</option>
										}
									</select>

									<h5>by pressing</h5>    <input type="submit" value="Continue" class="btn btn-outline-light" />
									<div class="main-button">
									</div>
								</form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***** Banner End ***** -->
            </div>
        </div>
    </div>
</div>