@page
@model Crowdfund.Pages.ProfileModel
@{
}
   <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">

                    <!-- ***** Banner Start ***** -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-profile ">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <img src="/Content/assets/images/bill.png" alt="" style="border-radius: 23px;">
                                    </div>
                                    <div class="col-lg-4 align-self-center">
                                        <div class="main-info header-text">
                                            <span>Backer</span>
                                            <h4>Bill Gates</h4>
                                            <p></p>
                                            @* <div class="main-border-button border-no-active">
                                                <a href="#">Start Live Stream</a>
                                            </div>*@
                                        </div>
                                    </div>
                                    <div class="col-lg-4 align-self-center">
                                        <ul>
                                            <li>Projects Backed <span>3</span></li>
                                            <li>Projects Created <span>0</span></li>
                                            <li>Total Money Given <span>4.400.000€</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Banner End ***** -->
                    <!-- ***** Gaming Library Start ***** -->
                    <div class="gaming-library profile-library">
                        <div class="col-lg-12">
                            <div class="heading-section">
                                <h4><em>Your Backed</em> Projects</h4>
                            </div>
                            <div class="item">
                                <ul>
                                    <li><img src="/Content/assets/images/codehub.png" alt="" class="templatemo-item"></li>
                                    <li><h4>Code.Hub</h4><span>Other</span></li>
                                    <li><h4>Date Backed</h4><span>21/04/2022</span></li>
                                    <li><h4>Money Given</h4><span>1.000.000</span></li>
                                    <li><h4>Money Goal</h4><span>6.000.000</span></li>
                                    <li><div class="main-border-button"><a href="~/Projects/Details">Project Page</a></div></li>
                                </ul>
                            </div>
                            <div class="item">
                                <ul>
                                    <li><img src="/Content/assets/images/cloud.jpg" alt="" class="templatemo-item"></li>
                                    <li><h4>Cloud Tools</h4><span>Other</span></li>
                                    <li><h4>Date Backed</h4><span>21/04/2022</span></li>
                                    <li><h4>Money Given</h4><span>2.000.000</span></li>
                                    <li><h4>Money Goal</h4><span>6.000.000</span></li>
                                    <li><div class="main-border-button"><a href="~/Projects/Details">Project Page</a></div></li>
                                </ul>
                            </div>
                            <div class="item last-item">
                                <ul>
                                    <li><img src="/Content/assets/images/regen.jpg" alt="" class="templatemo-item"></li>
                                    <li><h4>ReGeneration</h4><span>Other</span></li>
                                    <li><h4>Date Backed</h4><span>21/04/2022</span></li>
                                    <li><h4>Money Given</h4><span>1.000.000</span></li>
                                    <li><h4>Money Goal</h4><span>3.000.000</span></li>
                                    <li><div class="main-border-button"><a href="~/Projects/Details">Project Page</a></div></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Gaming Library End ***** -->
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/tabs.js"></script>
    <script src="assets/js/popup.js"></script>
    <script src="assets/js/custom.js"></script>



