@page
@model Crowdfund.Pages.Creators.CreateModel
@{
    ViewData["Title"] = "Add Creator";
}

<div class="row">
	<div class="col-lg-8">
		<div class="featured-games header-text">
			<div class="heading-section">
				<h4>Add <em>Creator</em></h4>
			</div>
			<div class="col-md-4">
				<form method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<p class="text-white">
							<label asp-for="Creator.FirstName" class="control-label">First Name</label>
							<input asp-for="Creator.FirstName" class="form-control" />
							<span asp-validation-for="Creator.FirstName" class="text-danger"></span>
						</p>
					</div>
					<div class="form-group">
						<p class="text-white">
							<label asp-for="Creator.LastName" class="control-label">Last Name</label>
							<input asp-for="Creator.LastName" class="form-control" />
							<span asp-validation-for="Creator.LastName" class="text-danger"></span>
						</p>
					</div>
					<div class="form-group">
						<p class="text-white">
							<label asp-for="Creator.Email" class="control-label">Email</label>
							<input asp-for="Creator.Email" class="form-control" />
							<span asp-validation-for="Creator.Email" class="text-danger"></span>
						</p>
					</div>

					<div class="form-group">
						<p class="text-white">
							<label asp-for="Creator.ImgUrl" class="control=label">Image URL</label>
							<input asp-for="Creator.ImgUrl" class="form-control" />
							<span asp-validation-for="Creator.ImgUrl" class="text-danger"></span>
						</p>
					</div>

					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

					<div class="form-group">
						<p class="text-white">
							<input class="btn btn-outline-light" type="submit" value="Create" />
						</p>
					</div>

					<p>&nbsp;</p>
					
				</form>

				<div class="main-border-button"><a href="~/Creators/Index">Go Back</a></div>

			</div>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}