@page "{id}"
@model Crowdfund.Pages.Creators.DetailsModel
@{
    ViewData["Title"] = "User Details";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <div class="main-banner">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="header-text">
                                <h2>Projects</h2>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th>Date Created</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var project in Model.Projects)
                                        {
                                            <tr>
                                                <td>@project.Title</td>
                                                <td>@project.Description</td>
                                                <td>@project.CreationDate</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
