@page "{id}"
@model Crowdfund.Pages.Creators.DetailsModel
@{
    ViewData["Title"] = "User Details";
}

<div class="main-banner">
    <div class="row">
        <div class="col-lg-7">
            <div class="header-text">
                <h4><em>my</em> projects</h4>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

                <div class="main-button">
                    <a class="nav-link" asp-area="" asp-page="/Projects/Create">Create New</a>
                </div>
                <table class="table">
                    <thead>
                        <tr style="color:white;">
                            <th>Title</th>
                            <th>Description</th>
                            <th>Date Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var project in Model.Projects)
                        { 
                            <tr style="color:white;">
                                               
                                               
                                <td>@project.Title</td>
                                <td>@project.Description</td>
                                <td>@project.CreationDate</td>

                            </tr>
                                            
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>