@page
@using Crowdfund.Models;
@model Crowdfund.Pages.Creators.IndexModel
@{
    ViewData["Title"] = "Creators";
}

<h1>Creators</h1>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Creator creator in Model.Creators)
        {
                <tr>
                    <td>@creator.FirstName</td>
                    <td>@creator.LastName</td>
                </tr>
        }
    </tbody>
</table>
